        @media screen and (min-width: 800px) {
            .hero
            {
                width: 45%;
            }
            
            #pic
            {
                width: 90%;
            }
            
        }
    
        @media screen and (max-width: 799px) {
           .hero
           {
                width: 100%;
           }
           
           #pic
           {
               width: 100%;
           }
        }
    
        html
        {
            height: 230%;
            
            background-repeat: no-repeat;
            background-attachment: fixed;
            background: linear-gradient(to top, #919191, #383a3d) ;
            background: #383a3d; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#383a3d, #919191); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#383a3d, #919191); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#383a3d, #919191); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#383a3d, #919191); /* Standard syntax */
            

        }
        
        header
        {
            position: fixed;
            width: 100%;
            height: 2em;
            background: #383a3d;
            top: 0;
            
            -webkit-box-shadow: 0px 0px 8px 0px #000000;
            -moz-box-shadow: 0px 0px 8px 0px #000000;
            box-shadow: 0px 0px 10px 0px #000000;
        
            
        }
        
        header ul
        {
            list-style: none;
            margin: .5em;
            
            
        }
        
        header ul li a, .dropbtn
        {
            text-decoration: none;
            color: white;
            font-family: impact;
            float: right;
        }
        
        #menu
        {
            margin-right: 1em;
            width: 3em;
            text-align: center;
            background: none;
            margin: auto;
        }
        
        #menu:hover, button:hover, .dropdown:hover .dropbtn, .dropdown-content:hover, .dropdown-content a:hover
        {
            background: white;
            border: 1px solid black;
            color: black;
            
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            transition:.5s;
        }
        
        body
        {
            margin: 0;

        }
        
        div
        {
            color: white;
        }
        
        a
        {
            color: white;
        }
        
        #pic
        {
            margin: 50px auto;

            -webkit-box-shadow: 0px 0px 8px 0px #000000;
            -moz-box-shadow: 0px 0px 8px 0px #000000;
            box-shadow: 0px 0px 10px 0px #000000;
            
        }
        
        #allheroes
        {
                        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;  

        }
        
        p
        {
            font-size: 1.2em;
        }
        #left p
        {
            padding-left: 195px;
        }
        
        #right p
        {
            padding-left: 5px;
            padding-right: 200px;
        }
        
        .hero
        {
            display: inline-block;
            overflow: auto;
            border-bottom: 5px solid black;
            border-top: 5px solid black;

            background: linear-gradient(to top, #919191, #383a3d) ;
            background: #383a3d; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#383a3d, #919191); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#383a3d, #919191); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#383a3d, #919191); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#383a3d, #919191); /* Standard syntax */
        }
        
        
        #left
        {
            border-right: 5px solid black;

        }
        
        #left img
        {
            float: left;

        }
        
        #right
        {
            float: right;
            border-left: 5px solid black;            
        }
        
        #right img
        {
            float: right;
        }
        
        #genjipic
        {
           border-right: 3px solid lawngreen;
        }
        
        #reinhardtpic
        {
            border-left: 3px solid #d9ccc1;
            
        }
        
        #zaryapic
        {
           border-right:3px solid #eb1c61;
        }
        
        #luciopic
        {
            border-left: 3px solid #228e02;
        }
        
        #anapic
        {
           border-right: 3px solid #410c46;
        }
        
        #mccreepic
        {
            border-left: 3px solid #610505;
        }
        
        button
        {
            clear: none;
            color: white;
            background: black;
            width: 50%;
        }
        
        h1
        {
            text-align: center;
        }
        
        .center
        {
            text-align: center;
        }




li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown-content:hover
{
    color: black;
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 25px 16px 0px rgba(0,0,0,0.3);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    background-color: black;
    display: block;
    text-align: left;
}

.show {display:block;}